[2021-04-23 07:48] AndreiEres commented on #719
Any updates?

[2021-04-23 07:51] AndreiEres commented on #698
Any updates? :-)

[2021-04-23 09:23] oaklodge opened #729 "__END__ does not cause comment formatting"
### Your environment

- `vscode-ruby` version: v0.28.0
- Ruby version: v0.28.1
- Ruby version manager (if any): none
- VS Code About:
Version: 1.55.1 (user setup)
Commit: 08a217c4d27a02a5bcde898fd7981bda5b49391b
Date: 2021-04-07T15:06:02.360Z
Electron: 11.3.0
Chrome: 87.0.4280.141
Node.js: 12.18.3
V8: 8.7.220.31-electron.0
OS: Windows_NT x64 10.0.19042
- Operating System: Win10
- Using language se

[2021-04-25 09:32] FooBarWidget commented on #719
I plan on looking into the issue #641 that @coneybeare referenced. I just haven't had time so far.

[2021-04-25 09:37] FooBarWidget commented on #717
@wingrunr21 Okay, that sounds like a good reason. But if the intention is to run Rubocop from the file's directory instead of the workspace root, then the docs should not mention that linters will be run from the workspace root.

[2021-04-25 09:49] FooBarWidget commented on #717
I created a new pull request that fixes the docs to match actual behavior. See above.

[2021-04-25 10:12] FooBarWidget commented on #719
@coneybeare I've tested #641. Just like you, I'm on macOS. I've confirmed that my PR #720 has no problems with spaces in filenames.

## Test setup

 - Create a project directory `~/ruby project with spaces`

 - Create a file `~/ruby project with spaces/sub dir/rubyfile_bad.rb` with:

[code]

 - Create a file `~/ruby project with spaces/sub dir/rubyfile_good.rb` with:

[code]

 - Create a file `~/r

[2021-04-26 12:32] IanVaughan commented on #722
This seems to be resolved, but I cannot find any commit that caused that, so the "fix" must be due an external dependency change.

[2021-04-26 12:32] #722 closed

[2021-04-27 17:44] itarato opened #731 "Parser error from languge server"
### Your environment

- `vscode-ruby` version: 0.28.1
- Ruby version: ruby 2.6.3p62 (2019-04-16 revision 67580) [universal.x86_64-darwin19]
- Ruby version manager (if any): none
- VS Code version: Version: 1.55.2 Commit: 3c4e3df9e89829dce27b7b5c24508306b151f30d
- Operating System: OS-X 10.15.7
- Using language server? (eg `useLanguageServer` is true in your configuration?) yes

### Expected behavi

[2021-04-28 17:41] connor4312 opened #732 "Add `ruby` to contributions.debuggers.languages"
We've adjusted the flow for suggesting language debuggers. Now, when a user F5's without a launch config on a file for which there is no extension installed, we show a dialog like this: https://github.com/microsoft/vscode/issues/119110#issuecomment-823263742

The Ruby extension should add `ruby` to `contributions.debuggers.languages` to tell VS Code that it's a valid debugger for this language and

[2021-04-29 23:47] davidpcaldwell opened #733 "Debugger does not work unless rake gem is present"
### Your environment

- `vscode-ruby` version: just installed 0.28.1
- Ruby version: 2.6.5 (Homebrew)
- Ruby version manager (if any): Homebrew
- VS Code version: 1.55.2
- Operating System: macOS Big Sur
- Using language server? (eg `useLanguageServer` is true in your configuration?): false

### Expected behavior
Debugger runs if `ruby-debug-ide` and `debase` gems are available, according to [the

[2021-04-30 00:39] #716 closed

[2021-05-02 00:45] #713 closed

[2021-05-02 17:25] orthodoX commented on #700
I've just retried this on Ruby 3.0.1 on macOS 11.3 running on Apple Silicon chip and it's the same error.

[2021-05-02 17:27] orthodoX commented on #700
/unstale

[2021-05-04 17:07] lszomoru opened #735 "Support Workspace Trust"
Hello :wave: I'm from the VS Code team.

Recently, we have been exploring a security feature we refer to as _Workspace Trust_. This feature is intended to centralize and unify a security conscious decision required by a variety of VS Code features. With workspace trust, the user will be able to declare whether or not they trust the folder that is opened in VS Code before these features are execute

[2021-05-06 00:31] #721 closed

[2021-05-07 11:47] lszomoru opened #736 "Support virtual workspaces"
👋 Hi there, Martin here, from the VS Code team.

Recently we've announced the [Remote Repository feature](https://code.visualstudio.com/updates/v1_56#_remote-repositories-remotehub) that lets you browse and edit files and folders directly on GitHub.

`Open Remote Repository...` opens VSCode on a folder or workspace located on a virtual file system. We call this a **virtual workspace**. We observed

[2021-05-14 20:48] amerov opened #740 "Wrong indent with `end` symbol or arguments with line break"
### Your environment

- `vscode-ruby` version: 0.28.1
- Ruby version: 2.71.
- Ruby version manager: rvm
- VS Code version: 1.56.2
- Operating System: Linux
- Using language server?: yes

### Expected behavior
indent correctly
### Actual behavior
C-p: Indent lines action result:
[code]

# UPD 2021-06-26
Another example that wrongly indented after "Reindent lines" command:
[code]

[2021-05-19 22:39] OmriSama opened #741 "Automatic Syntax Highlighting in ERB based on document format?"
Hey. I was wondering if it's possible to create rules that will allow you to use ERB in every file while still retaining the original file's markup/syntax highlighting. `file.md.erb` will have Markdown syntax highlighting, etc.

Are there any blockers on the VS Code side?

[2021-05-21 09:37] bessey commented on #566
/remove stale

[2021-05-21 16:13] Eusebius1920 commented on #714
ping to keep it open

[2021-05-22 00:43] #726 closed

[2021-05-23 09:41] Caceresenzo commented on #728
Is this git still maintained?

[2021-05-24 07:02] shir commented on #698
It's active. Stupid bot.

[2021-05-24 11:07] simonc commented on #698
Anything we can do to help fix/release this? 🙂

[2021-05-25 05:15] oaklodge commented on #729
After reading more about this keyword, it's more complicated than I had thought. I thought it just indicated everything afterwards was considered comments but now I've learned it can be used by DATA. Sometimes Ruby is too clever by half...

[2021-05-25 05:15] #729 closed

[2021-05-26 00:55] #727 closed

[2021-05-26 05:32] FooBarWidget commented on #719
Please don't auto-close this PR. It's awaiting review.

[2021-05-26 05:32] FooBarWidget commented on #717
Please don't auto-close this PR. It's awaiting review.

[2021-05-28 17:49] igorgesso opened #743 "Doubt Standard and rubocop projects"
I have projects that use standard and other rubocop, as I configure it to be smart and know which one to use in each project and not have to keep changing it

[2021-05-29 04:45] connor4312 commented on #732
Still relevant

[2021-05-30 17:51] wingrunr21 commented on #740
What formatter are you using?

[2021-05-30 17:53] wingrunr21 commented on #743
I'm not following the ask here. Are you needing guidance on how to configure different projects to use rubocop or standard and not have to update your user settings?

[2021-05-30 18:17] #732 closed

[2021-05-30 20:29] amerov commented on #740
C-p Reindent lines

[2021-06-01 02:12] igorgesso commented on #743
I think that would be it, how can I configure different projects to use different linters.

[2021-06-02 14:47] igorgesso commented on #743
I didn't know about vscode's workspace functionality. I managed using the workspace.

[2021-06-02 14:47] #743 closed

[2021-06-04 19:14] davidpcaldwell commented on #733
As best I know, this issue is still valid.

[2021-06-08 07:54] kassi opened #744 "Debugging rails broken: breakpoints not handled inside VSCode"
### Your environment

- `vscode-ruby` version: 0.28.0
- Ruby version: 3.0.1p64
- Ruby version manager (if any):
- VS Code version: 1.56.2 (universal)
- Operating System: Mac OS Catalina
- Using language server? (eg `useLanguageServer` is true in your configuration?): no
- Gem 'debase' version: 0.2.5.beta2 (because of Ruby 3.0)
- Gem 'ruby-debug-ide' version: 0.7.2

### Expected behavior

When I se

[2021-06-17 02:09] lobo-tuerto opened #745 "Option to specify the path to the rules file"
### Your environment

- `vscode-ruby` version: 0.28.1
- Ruby version: 3.0.1
- Ruby version manager (if any): asdf
- VS Code version: 1.56.2
- Operating System: macOS Big Sur 11.4
- Using language server? Yes

### Expected behavior

It'd be helpful to be able to specify the configuration file for rubocop.
Just like you can do in the CLI:

[code]

For example in overcommit we have:

[code]

As you c

[2021-06-18 10:22] MathieuDerelle opened #746 ""go to the definition" does not find method definition"
### Your environment

- `vscode-ruby` version: v0.28.1
- Ruby version: 2.4.10
- Ruby version manager (if any): rvm
- VS Code version: 1.57.0
- Operating System: macOS Catalina 10.15.7 (Darwin x64 19.6.0)
- Using language server? no

### Expected behavior

[code]

cmd+clic on `all_pieces_collected?` should go to the definition of the method (or show all the definitions)

### Actual behavior

The me

[2021-06-18 10:24] MathieuDerelle commented on #746
I've found those issues
- https://github.com/rubyide/vscode-ruby/issues/294
- https://github.com/microsoft/vscode/issues/45915

and I can confirm I have `"ruby.intellisense": "rubyLocate",`

[2021-06-18 23:15] lobo-tuerto commented on #578
I have this on my `settings.json` file for VSCode:

[code]

And my `.rubocop.yml` is being ignored.
Is there any way to specify which path the config file can be found?
Or any pointers on how to configure it so it'll pick up the yml file at the project's root?

[2021-06-21 06:46] milosivanovic opened #747 ".html.erb files don't auto-close or auto-indent HTML like .html files do"
### Your environment
- vscode-ruby version: 0.28.1
- Ruby version: ruby 2.7.3p183 (2021-04-05 revision 6847ee089d) [arm64-darwin20]
- Ruby version manager (if any): rbenv
- VS Code version: 1.57.1
- Operating System: macOS Big Sur 11.4 M1
- Using language server? No

### Expected behavior
.html.erb should be able to handle both embedded ruby and HTML with the full language features of both, includ

[2021-07-01 21:42] mmirus commented on #227
The `forceExclusion` option is no longer solving this for me, unfortunately. Disabling `ruby.useLanguageServer` does stop the problem, but that's obviously not a good solution.

[2021-07-02 11:37] sandstrom opened #748 "Bring in upstream changes"
The syntax is currently based on an old version of the ruby grammar (see commit below), from 2018.

https://github.com/rubyide/vscode-ruby/blob/da0d5d4d8d5b2d3ed3b57112e7e32a3645ef7da6/packages/vscode-ruby/syntaxes/ruby.cson.json#L3-L7

There has been some [changes](https://github.com/atom/language-ruby/commits/master/grammars/ruby.cson) in the upstream files, how about bringing this repo/file up

[2021-07-02 13:29] wingrunr21 commented on #748
You need to look at the commit history on that grammar and what the language server is using.

[2021-07-02 13:29] #748 closed

[2021-07-02 13:38] sandstrom commented on #748
alright, thanks @wingrunr21

[2021-07-03 18:42] trevorbye commented on #426
I feel like getting this to work properly was like summiting Everest... Ultimately @jonmchan solution worked for me, but I'll comment everything I did here and some of my configs to be super clear for everyone in the future who is ramping on rails for the first time:

1. In `config/boot.rb` I commented out `require 'bootsnap/setup'`
1. In `config/puma.rb` I made `WEB_CONCURRENCY=0` and `RAILS_MAX_

[2021-07-07 11:09] mdlima commented on #545
In my case, disabling the [Apollo GraphQL Extension](https://marketplace.visualstudio.com/items?itemName=apollographql.vscode-apollo) is what fixed it.

[2021-07-08 23:30] jonmchan commented on #426
@trevorbye could you try adding the environment variables to the `docker-compose.yml` file via the `environment:` section instead of .env? .env is utilized in docker-compose to set environment variables for docker/docker-compose, you still need to define those variables to be utilized for the container, it doesn't make it into the container by default when you set it in `.env`.

[2021-07-13 23:28] fedeth commented on #227
The `forceExclusion` option combined with` "useBundler": true` works for me.

[2021-07-15 00:37] #731 closed

[2021-07-18 23:50] #505 closed

[2021-07-20 15:37] andyw8 commented on #469
A tip for anyone running into this: You may need to restart VS Code after changing the config.

[2021-07-20 23:06] OmriSama commented on #741
@wingrunr21 @rebornix any chance this could be looked at? Do you folks happen to know what VS Code allows in terms of dynamic grammar definitions?

[2021-07-20 23:13] wingrunr21 commented on #741
We have to specify in the language definition embedded languages but I’m not aware of a way to do this dynamically or based on the file type as would be Rails convention.

see [embedded languages](https://code.visualstudio.com/api/language-extensions/syntax-highlight-guide#embedded-languages)

[2021-07-21 20:08] andyw8 opened #750 "'Show Language Server Output Channel' and 'Show Output' commands are failing"
### Your environment

- `vscode-ruby` version: 0.28.0
- Ruby version: 2.7.4
- Ruby version manager (if any): chruby
- VS Code version:  1.5.8
- Operating System: Mac OS 11.4
- Using language server? (eg `useLanguageServer` is true in your configuration?)

### Expected behavior

Following these instructions:

https://github.com/rubyide/vscode-ruby/blob/main/docs/troubleshooting.md

I should see the

[2021-07-22 15:38] thoraxe opened #752 "[RFE] add envFile / .env support"
Currelntly, `env` is supported and [documented here](https://github.com/rubyide/vscode-ruby/wiki/2.-Launching-from-VS-Code#env)

However, `envFile` support doesn't appear to be present similar to Node:
https://code.visualstudio.com/docs/nodejs/nodejs-debugging#_load-environment-variables-from-external-file

It would be nice to get `.env` support. The "workaround" is to connect to an existing rdebu

[2021-07-23 17:28] DI-john opened #753 "Syntax highlighting confused by escaped backslash in regex"
### Your environment

Version: 1.58.2
Commit: c3f126316369cd610563c75b1b1725e0679adfb3
Date: 2021-07-14T22:09:06.581Z (1 wk ago)
Electron: 12.0.13
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Darwin x64 20.5.0

VSCode Ruby version: v0.28.0

### Expected behavior

Normal syntax highlighting:

![expected](https://user-images.githubusercontent.com/3628420/126819203-c592b665-dd

[2021-07-24 09:32] Caceresenzo commented on #728
Issues are piling up...

[2021-07-25 05:48] shir commented on #698
Development for this project is too slow to use this bot. No new releases for half a year.

[2021-07-27 12:12] FooBarWidget commented on #717
Please don't auto-close this issue. It's awaiting review.

[2021-07-27 12:12] FooBarWidget commented on #719
Please don't auto-close this issue. It's awaiting review.

[2021-07-27 20:46] jabamaus opened #754 "Debugger runs past all breakpoiints and exits when expand object in variable view"
### Your environment

- `vscode-ruby` version: 0.28.1
- Ruby version: 3.0.2
- Ruby version manager (if any): none
- VS Code version: 1.58.2
- Operating System: windows 10
- Using language server? (eg `useLanguageServer` is true in your configuration?) No

### Expected behavior

I should be able to expand the object in the watch window and view its variables when I'm on a breakpoint.

### Actual be

[2021-07-30 16:12] krnbatta commented on #531
I don't think it is still working. In my project root, I have the following settings:

File `.vscode/settings.json`
[code]

File `.rubocop.yml`
[code]

[2021-08-04 02:22] yutakuroda commented on #744
Any updates?

[2021-08-07 20:31] alexanderadam commented on #341
@michielboekhoff, I'm just curious: did you give it a try in this extension?

[2021-08-10 09:27] sandstrom opened #757 "Collaboration between rubyide and solargraph"
Would it make sense for [rubyide](rubyide /
vscode-ruby) and [solargraph](https://github.com/castwide/solargraph) to collaborate around some aspects of a ruby language server?

Both are great projects and sometimes it'll make more sense for both projects to run in parallel (because they have different focus, or even the same problem, but using different methods). So I'm not saying that collaborati

[2021-08-11 08:02] michielboekhoff commented on #341
@alexanderadam - I initially gave this a go. I got to doing easy things - extracting variables - but I never managed to get it in a very usable state as I stopped writing Ruby. Sorry about that! I really do still hope this feature makes it in.

[2021-08-11 16:34] Overload119 commented on #402
This issue keeps popping up my VS Code output to spit this message out:

[code]

How can I at least disable it from doing this?

[2021-08-15 06:58] enganese opened #759 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `ruby`
- Extension Version: `0.28.1`
- OS Version: `Windows_NT x64 6.1.7601`
- VS Code version: `1.59.0`

[code]

[2021-08-15 12:55] noraj opened #760 "Open VSX"
Hi can you push your extension to https://open-vsx.org/ in addition to VSCode Market Place so people using the FLOSS version could install it too?

I wrote [an article](https://blog.raw.pm/en/FLOSS-version-of-vscode-and-extensions-gallery/) on the subject.

[2021-08-16 15:25] shafy opened #761 "Gitpod: Can't find rubocop command"
### Your environment

- `vscode-ruby` version: 0.27.0
- Ruby version: 3.0.0
- Ruby version manager (if any): RVM
- VS Code version: 1.58.2
- Operating System: Gitpod (I think Linux)
- Using language server? (eg `useLanguageServer` is true in your configuration?) Yes

### Expected behavior
I expect VS Code to find `rubocop` as it is installed as a gem and is accessible from the terminal.

### Actua

[2021-08-18 04:09] RafaelBarbosa09 commented on #197
it worked for me:

  "emmet.includeLanguages": {
    "erb": "html",
    "ruby": "html"
  }

[2021-08-18 09:00] kalsan opened #762 "Feature request: Embedded HAML"
Hi!

The file https://github.com/rubyide/vscode-ruby/blob/main/packages/vscode-ruby/syntaxes/ruby.cson.json defines sections such as the block beginning with `"comment": "Heredoc with embedded html"` etc.

With the increased popularity of HAML over ERB, it would be awesome to have Heredoc with embedded haml support as well.

Sorry I can't contribute more than the idea - I've never developed or cus

[2021-08-19 00:14] dann1 opened #763 "Unable to run rubocop"
### Your environment

- `vscode-ruby` version: v0.28.8
- Ruby version: ruby 2.6.3p62 (2019-04-16 revision 67580) [universal.x86_64-darwin20]
- Ruby version manager (if any):
- VS Code version: Version: 1.59.0
- Operating System: Darwin arm64 20.5.0 (Macbook Air M1)
- Using language server?: yes

### Expected behavior
rubocop should run like it does manually. Looking at the [troubleshooting docs](h

[2021-08-19 00:24] dann1 commented on #763
running vscode from the command line using the `code` command seems to work.

However, I tried changing the executable used by the desktop. It used to be Electron and I changed it to code

[code]

but still the same error.

[2021-08-20 00:36] #733 closed

[2021-08-23 09:48] Cervenka opened #764 "Region Folding markers"
Hi,

am I missing something or is folding based on region markers not supported?

https://code.visualstudio.com/docs/editor/codebasics#_folding

Thank you

[2021-08-23 15:04] borisbokan commented on #465
Had the same problem for two hours..the solution was that I deleted the variable "final args" .... don't use the reserved words in your code "args is not blocked by the compiler !!" if you use it you will have this kind of problem.

[2021-08-24 13:12] mtsmfm opened #765 "0.28.1 doesn't have vsix on GitHub release"
https://github.com/rubyide/vscode-ruby/releases/tag/v0.28.0

![image](https://user-images.githubusercontent.com/1796864/130622217-a6cd0db3-e429-47f8-84c1-cdf0a3333ffa.png)

https://github.com/rubyide/vscode-ruby/releases/tag/v0.28.1

![image](https://user-images.githubusercontent.com/1796864/130622248-6d0350f8-f742-4db4-b110-3ce8936a5682.png)

Because of missing vsix on release page, extension on

[2021-08-31 00:39] #745 closed

[2021-09-01 00:41] #746 closed

[2021-09-01 08:07] MathieuDerelle commented on #746
still happening

[2021-09-02 13:16] cirdes commented on #625
same here, any updates?

[2021-09-04 00:37] #747 closed

[2021-09-05 11:05] pascalbetz commented on #754
I have a similar issue where i can see the breakpoints added to the code

[code]

but is never hit. Any hints how I can debug this would be appreciated.

[2021-09-06 12:41] jabamaus commented on #754
This drives me mad and has been happening with my software for the last three years. One tell tale sign is that it only happens when I expand my top level object in the variable view. My top level objects ends up referencing everything in the system and everything holds back references to it. This bug makes it impossible to debug many of my issues and is so frustrating. It really feels like someth

[2021-09-07 09:05] pascalbetz commented on #754
I don't even get anything in the variable view. Breakpoint is never hit. I'll try and reproduce whit an easier example as my setup includes an existing app that runs in docker. so i'll start with a local ruby script and see if my setup is correct.

[2021-09-09 00:40] #740 closed

[2021-09-09 10:57] pascalbetz commented on #754
With some help from Stackoverflow i figured out the issue: i had an error in my VS Code launch config: the remoteWorkspaceRoot was set to use the local and not the remote path.

[2021-09-13 20:23] jabamaus commented on #754
Glad you solved it :) I finally solved my issue too. It was a really evil one. My system uses BasicObjects combined with method_missing, and when the variable view was trying display a member variable that was one of these objects it was causing new objects in my code that were being created as a consequence of being debugged. To prevent this I had to implement a dummy nil? method (which happens t

[2021-09-14 10:28] peternixey commented on #227
I had the same problem but noticed that rubocop wasn't running from the same root directory as my project. So I tried making the exclusion root-independent and it then worked fine:

[code]
was failing because `db` was not in the same directory that Rubocop was looking for it.

[code]

[2021-09-15 21:17] tschaub commented on #717
I'm working on a project that has `Gemfile`s at multiple levels (for locally developed plugins).  `rubocop` is added as a dependency of the root `Gemfile`.  I'm finding that the extension fails to run `rubocop` for files whose nearest parent `Gemfile` doesn't include `rubocop`.  I assume this is due to the `cwd` issue mentioned here (and not #719).

I would guess that finding the appropriate confi

[2021-09-19 04:36] reyou commented on #644
I think this needs to be investigating. A major issue on Windows / VS Code.

FYI I run following command as installation:

`gem install rubocop`

[2021-09-19 12:05] benhummon opened #768 "ignores breakpoints set on blank lines"
### Your environment

- `vscode-ruby` version: v0.28.1
- Ruby version: 2.6.6
- Ruby version manager (if any): rbenv
- VS Code version: 1.60.1
- Operating System: OS X 11.6
- Using language server? no

### Expected behavior

Debugger should stop at breakpoints set on all lines, including those lines that consist only of whitespace.

### Actual behavior

If I set a breakpoint on a line that only has

[2021-09-19 12:47] 0x2C6 commented on #752
any news?

[2021-09-19 15:38] jmschp commented on #578
Hey!

The `"forceExclusion": true` options is not working for me!

- Macbook Pro (13-inch, 2017) - Big Sur 11.6
- VS Code 1.60
- vscode-ruby 0.28.1

The extension is picking up the `.rubocop.yml` but it is. not excluding my `db/schema.rb`

[code]

It seems that is I disable the Language Server `"ruby.useLanguageServer": false,`
It respects the `"forceExclusion": true`.

But then I end up with the

[2021-09-21 18:45] jmschp commented on #612
Hey!

The "forceExclusion": true options is not working for me!

- Macbook Pro (13-inch, 2017) - Big Sur 11.6
- Ruby version: 3.0.2
- Ruby version manager (if any): rbenv
- VS Code 1.60
- vscode-ruby 0.28.1

The extension is picking up the .rubocop.yml but it is. not excluding my db/schema.rb

[code]

It seems that if I disable the Language Server "ruby.useLanguageServer": false,
It respects the "

[2021-09-22 18:57] noko1024 opened #770 "The extension set by default is undesirable"
### Your environment

- `vscode-ruby` version: 0.28.0
- Ruby version: ruby 3.0.2p107
- VS Code version: 1.60.2
- Operating System: Windows10 21H1

### Expected behavior
When you create a new file and save it, it will be saved as hoge.rb

### Actual behavior
When you create a new file and save it, it will be saved as hoge.arb

I want to Request a correction or explanation please.

[2021-09-24 08:54] simonc commented on #698
Naaaah you stupid bot. It's active!

[2021-09-24 08:56] AndreiEres commented on #698
I think the problem is not in the bot :-)

[2021-09-24 08:59] simonc commented on #698
I know. Seriously I'd be open to being a bit more involved in the project to help it move forward. Ruby is far from a dying language and it's killing me the this extension does get updated more often.

Dear maintainer(s), would you consider bringing more people to the table?

[2021-09-24 13:00] wingrunr21 commented on #698
Yes

[2021-09-24 13:48] simonc commented on #698
Thanks for the disclaimer @wingrunr21. I appreciate the work you've done to make this extension. I think the more people on board the lighter each individual contribution can be. But I'm not naive, I know people want things to be done *for* them, not *by* them, most of the time.

I haven't had much spare time lately, working on two jobs + 1 baby 😅,  but if I can be of help, I'd like to.

Given how

[2021-09-24 14:45] isidorn opened #771 "Support no folder debugging"
Hi VS Code PM here 👋

1. Purple no folder VS Code -> create a new ruby file
2. Press `F5` -> notice how we offer the user to download your extension 👏
3. Now the user presses `F5` again and wants to debug, but nothing happens since ruby is not supporting no folder debugging

Easiest to do this is to have a dynamic `resolveDebugConfiguartion` that will provide a launch configuration on the fly. [Ex

[2021-09-24 14:56] wingrunr21 commented on #698
I have not had anyone approach me, no.

I will set aside time this weekend to review open (and probably closed by the bot) PRs and get things up to date. I'll also be adding a call for maintainers to the README. Perhaps with Hacktoberfest coming up we can clean up the issues list and get some folks to contribute.

[2021-09-24 16:07] simonc commented on #698
That'd be awesome 🙂 Once again, thanks for the time you're putting in.

[2021-09-25 11:42] art-solopov commented on #656
I've just encountered this error a couple days ago. I know it's probably a bit anal-retentive on me, but this kind of issue makes me want to not use VS Code for Ruby development altogether. Are there any plans to fix this?

[2021-09-26 13:05] alan-pie commented on #719
Ping

On Sat, Sep 25, 2021, 5:41 PM github-actions[bot] ***@***.***>
wrote:

[2021-09-27 12:25] #719 closed

[2021-09-27 12:31] wingrunr21 commented on #717
@tschaub the behavior you are seeing is due to how `bundler` works vs this extension. If we were to move back to using `workspaceRoot` for the execution, then people with your situation with _different_ `rubocops` in sub-`Gemfiles` wouldn't work.

I think the solution here is to add a configuration option that allows people to specify where a linter is executed. Either at `workspaceRoot` or at `cw

[2021-09-28 19:47] jspraul commented on #728
bump

[2021-10-03 00:44] #741 closed

[2021-10-06 01:12] fiveNinePlusR commented on #548
What are the issues that prevent rubocop from being fed a different or custom path for linting vs. formatting?

[2021-10-06 11:01] Zhorian commented on #578
It's stopped working for me now.

[2021-10-06 11:01] #578 closed

[2021-10-06 11:03] vfonic opened #772 "Disable stalebot!"
Please disable stalebot. It's really annoying and seems just looks bad.

[Look](https://github.com/rubyide/vscode-ruby/issues/698#issuecomment-785484623)
[at](https://github.com/rubyide/vscode-ruby/issues/698#issuecomment-813733531)
[this](https://github.com/rubyide/vscode-ruby/issues/698#issuecomment-846659976)
[issue](https://github.com/rubyide/vscode-ruby/issues/698#issuecomment-886129151)

htt

[2021-10-06 11:26] AlecRust commented on #578
I think #742 may fix this which is pending release.

@Zhorian could you reopen this issue?

[2021-10-11 08:41] sandstrom commented on #757
not stale

[2021-10-12 07:29] loujaybee opened #773 "v0.28.1 release missing .vsix attachment"
### Your environment

- `vscode-ruby` version: N/A
- Ruby version: N/A
- Ruby version manager (if any): N/A
- VS Code version: N/A
- Operating System: N/A
- Using language server? (eg `useLanguageServer` is true in your configuration?) N/A

### Expected behavior

The [latest release v0.28.1](https://github.com/rubyide/vscode-ruby/releases/tag/v0.28.1) has the attached `.vsix` file in assets.

###

[2021-10-14 21:39] Tuxii opened #774 "useBundler in a WSL window"
### Your environment

- `vscode-ruby` version: v0.28.0
- Ruby version: any version
- Ruby version manager (if any): rbenv
- VS Code version: 1.61.1
- Operating System: Windows
- Using language server? (eg `useLanguageServer` is true in your configuration?) Yes

### Expected behavior
The global setting `ruby.useBundler` should work in a WSL window

### Actual behavior
`ruby.useBundler` is false wit

[2021-10-15 14:49] noraj commented on #760
unstale, I don't understand the utility of this bot for 95% of projects...

[2021-10-19 00:42] #744 closed, assigned to nobody

[2021-10-30 00:38] #759 closed

[2021-11-01 19:21] heynan0 commented on #571
I get this issue as well. What is the status?

[code]

[2021-11-03 17:43] hybridAries opened #776 "Extension fails to start with TypeError"
### Your environment

- `vscode-ruby` version: 0.28.1
- Ruby version: 3.0.2
- Ruby version manager (if any): asdf
- VS Code version: 1.61.2
- Operating System: Linux 5.14.15 kernel x86_64
- Using language server? (eg `useLanguageServer` is true in your configuration?) No

### Expected behavior
For linting and formatting to work in a new rails project with standardrb.

### Actual behavior
The exten

[2021-11-07 00:41] #764 closed

[2021-11-07 14:49] AlexWayfer commented on #578
Is something blocking a new release? We can't use RuboCop in VSC almost for 2 years.

[2021-11-08 00:40] #765 closed

[2021-11-08 14:20] alexeyr opened #777 "Add support for colorized bracket keywords"
### Your environment

- `vscode-ruby` version: 0.28.1
- Ruby version: 2.5.1
- Ruby version manager (if any):
- VS Code version: 1.62.0
- Operating System: Windows 10
- Using language server? (eg `useLanguageServer` is true in your configuration?): yes

### Expected behavior

Since VS Code 1.61, there is native support for bracket pair highlighting. In Ruby's case, it makes sense to treat e.g. `cas

[2021-11-08 14:23] alexeyr commented on #777
For ERB, also `<%`/`%>`, `<%=`/`%>`, and `<%#`/`%>`.

[2021-11-09 15:19] bartimez opened #778 "Metrics/ClassLength and Metrics/ModuleLength squiggle every line in the file"
Hello! I'm having an issue where violations of the `Metrics/ClassLength` and `Metrics/ModuleLength` cops squiggle every line in the file rather than just the `class` or `module` declaration at the top of the file.  I'm at a loss to what is causing this.  I've disabled every other extension I have running in VSCode and the issue persists.

### Your environment

- `vscode-ruby` version: 0.28.1
- Rub

[2021-11-09 15:22] bartimez commented on #778
I see this https://github.com/rubyide/vscode-ruby/issues/535 closed issue, but I'm still confused as my coworkers report this is not happening for them.

[2021-11-09 16:10] bartimez commented on #778
Update: Commenting out `ruby.useLanguageServer: true` fixes this issue for me

[2021-11-09 16:10] #778 closed

[2021-11-09 21:54] heragu commented on #227
@peternixey I tried your solution and works in vs code but then it does not work in the command line. When I tried to run in the terminal `bundle exec rubocop` I got an error like the following:

[code]

This helps while developing with VS code but if you have `rubocop` integrated in your deployment pipeline it is not a final solution.

[2021-11-09 22:13] peternixey commented on #227
@heragu - it actually doesn’t even work in Vscode any more for me. I find anything to do with Ruby (solargraph etc too) a bit of a black art to get working!

[2021-11-11 14:43] theCompanyDream commented on #129
I have a project that I'm working on that has the same specifications as the one above. It runs very slow and just times out.

[2021-11-14 02:08] sandyleo26 commented on #197
I'm using the same setting but autocompletion wouldn't work in the `erb` file until I click a normal `html` file and then select the `erb` file. Not sure if it's lazy loading issue or something else but it's a bit annoying that I need to do this dance every time I open a new project.

[2021-11-14 08:02] guar47 commented on #197
For me, the only way to make it works was:
Add an association between `.erb` files and `erb.html`:
[code]

[2021-11-14 11:07] o-t-w commented on #197
None of these worked for me

[2021-11-16 23:48] jon-minepi commented on #714
Strong interest in this as well!

[2021-11-18 00:30] eruizc-dev opened #779 "Request: standalone language server"
I'd like to integrate [this](https://github.com/rubyide/vscode-ruby/tree/main/packages/language-server-ruby) language server with Neovim.

To do that the following things are required:
 1. Stdio support
 2. Basic CLI commands (such as `language-server-ruby stdio`, `language-server-ruby --help`, `language-server-ruby --version`)
 3. Simple install methods (like `npm i -g language-server-ruby`)

Wou

[2021-11-24 12:43] iandol opened #780 "Support the "official" debug gem?"
### Your environment

- `vscode-ruby` version: V0.28.1
- Ruby version: 3.0.2
- Ruby version manager (if any): rbenv
- VS Code version: 1.62.3
- Operating System: macOS 12.0.1
- Using language server? true

### Request

There is a newer `debug` gem <https://github.com/ruby/debug> that offers a very comprehensive feature set, and a new VScode extension demonstrates it in action without any other ext

[2021-11-24 13:06] iandol commented on #780
Note that rails is switching over to `ruby/debug`: https://www.bigbinary.com/blog/rails-7-replaced-byebug-with-ruby-debug

[2021-11-24 14:20] akosyakov opened #781 "yarn package fails"
with
[code]

[2021-11-25 03:12] simonc commented on #698
🤖🔫

[2021-11-25 09:54] ben-brunner commented on #197
Tried everything, including thorough uninstall of VS Code, that's actually the only thing that worked in order to get Emmett to work in erb files...

[2021-11-25 09:54] ben-brunner commented on #197
Tried everything, including thorough uninstall of VS Code, that's actually the only thing that worked in order to get Emmett to work in erb files...

[2021-11-25 12:14] Cervenka commented on #637
<img width="716" alt="Bildschirmfoto 2021-11-25 um 13 10 13" src="https://user-images.githubusercontent.com/2852105/143439837-462cd1b7-32dd-466d-bff3-3b2bf8b731fd.png">

Bump.. it would be great to be able to quickly fix issues like these with a click.
Thank you

[2021-11-26 08:11] NuckChorris commented on #413
It would appear this is an issue again due to the Ruby Language Server move @wingrunr21 :(

`vscode-ruby-client` uses the linter configs in the formatter, and allows `ruby.lint.rubocop.exe` to override the executable, but the Ruby Language Server no longer does this, and it's unclear if it even could (since the config is passed in, rather than retrieved)

It seems like there's a FormatterConfig in

[2021-11-27 00:39] #754 closed

[2021-11-27 09:07] AlexWayfer commented on #717
Actual.

[2021-11-27 16:53] jflinter opened #782 "Publish 0.28.2 release"
Hello! Would it be possible to cut a new release? We're very excited for https://github.com/rubyide/vscode-ruby/pull/720 . If there's anything I can do to help here I'm happy to do so.

Thanks!

[2021-11-29 06:04] guanting112 commented on #197
![test](https://imgur.com/KU0n4JU.gif)

[2021-11-29 21:08] Caceresenzo commented on #728
bump

[2021-12-03 00:41] #768 closed

[2021-12-03 00:41] #752 closed

[2021-12-04 16:33] ntad15 commented on #214
Even though i see ruby-debug-ide in the gem list, when i do "which ruby-debug-ide" it doesn't recognize it.
It keeps saying command not found

[2021-12-07 19:24] filiptronicek opened #783 "Publish to OpenVSX"
A big hello to the VS Code Ruby team 👋!

Unfortunately, Microsoft prohibits the usage of the MS Extension Marketplace by any other non-microsoft products. Because of this, we kindly ask you to take the ownership of your namespace in OpenVSX and publish there as well.

OpenVSX is a vendor neutral alternative to the MS Marketplace used by all other derivatives of VS Code like Gitpod, OpenVSCode, VSC

[2021-12-10 07:13] jfedgar opened #784 ""Ruby" vscode extension disables code collapsing/uncollapsing"
### Your environment

- `vscode-ruby` version: 0.28.0
- "Ruby" vscode extension version: 0.28.1
- Ruby version: ruby 3.0.1p64 (2021-04-05 revision 0fb782ee38) [x86_64-darwin19]
- Ruby version manager (if any): asdf
- VS Code version: 1.63.0
- Operating System: Mac OS 11.4 Big Sur
- Using language server? (eg `useLanguageServer` is true in your configuration?) true

### Expected behavior

You shoul

[2021-12-10 20:26] bcaplan commented on #770
Adding a comment to keep this open since I'm also experiencing this.

* `vscode-ruby` version: 0.28.1
* Ruby version: multiple
* VS Code version: 1.62.3
* Operating System: macOS 10.14.6

[2021-12-16 13:21] noraj commented on #760
unstale

[2021-12-17 19:23] lucasprag commented on #776
I'm also having the same problem.

My settings are just:
[code]

However, if I use rubocop, it works and I can see linting warnings on my code.

[code]

I tried removing all ruby related extensions and others as well.

[2021-12-17 22:36] lucasprag commented on #776
Hey @wingrunr21 , is there anything I can do to help with this issue? 🙏

I tried building the project locally following the instructions on [developing.md#getting-started](https://github.com/rubyide/vscode-ruby/blob/main/docs/developing.md#getting-started), but I get this error:

![wasm](https://user-images.githubusercontent.com/2293178/146615530-149ab809-10fd-4c26-acdf-0bbafde06b37.png)

It sound

[2021-12-19 11:54] zigomir commented on #363
I'm having same problem. Anyone knows how to fix it?

[2021-12-23 00:52] evgenyneu commented on #227
The `"forceExclusion": true` solution does not work for me. What's the status of this bug? Is anyone working on it?

[2021-12-25 19:18] iandol commented on #780
Ruby 3.1 released and `ruby/debug` is now officially released: https://www.ruby-lang.org/en/news/2021/12/25/ruby-3-1-0-released/

[2021-12-25 21:41] exocode commented on #649
@jonibatista can you tell me what you did to solve that `HTTP parse error, malformed request (): #<Puma::HttpParserError: Invalid HTTP format, parsing fails.>` issue?

I also try to start debugging Rails within a container (Kubernetes cluster). And have that same error message

[2021-12-26 00:01] exocode commented on #678
End of 2021. Any news on how to debug within a Kubernetes cluster?

[2021-12-26 00:46] #773 closed

[2021-12-28 07:45] islamhanafi94 commented on #750
@andyw8 did you come up with a solution for this ?

[2021-12-28 14:54] gregawoods commented on #578
@artm How did you get this wrapper script to be found with a relative path? Mine throws an error of `unable to execute [snip] as the command could not be found`.

It works if I use an absolute path to the script. However, I'm trying to set this up in a relative way so that it can be shared across users and environments.

I also tried using `${workspaceRoot}` as described in https://github.com/ruby

[2021-12-29 00:42] #774 closed

[2022-01-02 00:46] #762 closed

[2022-01-03 08:32] rockorequin commented on #211
An even better workaround for this bug is to install the ERB Formatter/Beautify extension (https://marketplace.visualstudio.com/items?itemName=aliariff.vscode-erb-beautify).

You need the htmlbeautifier gem installed, and if your file is called .html.erb you probably need to change it to be associated as an ERB file (CTRL-SHIFT-P while the file is open, select 'Change Language Mode', and set the f

[2022-01-03 16:44] #782 closed

[2022-01-03 16:45] #781 closed

[2022-01-03 16:45] wingrunr21 commented on #779
Yes, I would. I'd like to add this support.

Also, as the server itself is stateless, it should also be packaged into a lightweight Docker container

[2022-01-03 16:46] wingrunr21 commented on #783
Dup of #760

[2022-01-03 16:46] #783 closed

[2022-01-03 17:52] filiptronicek commented on #760
I unfortunately didn't notice this issue at first (made a duplicate) so I'm posting the text here, as I consider it may be helpful, but TL; DR: OpenVSX is great and I'm one of the maintainers, I can help or answer any questions 😄.

Unfortunately, Microsoft prohibits the usage of the MS Extension Marketplace by any other non-microsoft products. Because of this, we kindly ask you to take the ownersh

[2022-01-03 17:54] wingrunr21 commented on #760
I still need to wire up Github Actions for release to both (it's planned). @filiptronicek do you have an example repo that does this?

[2022-01-03 17:56] noraj commented on #760
@wingrunr21 Found one randomfly on Open VSX homepage https://github.com/dendronhq/dendron/blob/master/.github/workflows/publish-extension-dendron.yml

[2022-01-03 18:00] filiptronicek commented on #760
@wingrunr21 there are many, but for simpler extensions (which only depend on a couple of commands being executed, a pretty nice release action (with manual and automatic triggers, options for releasing just to certain ones) for creating GitHub Releases (with a `.vsix` file attached to it) and publishing to both of the Marketplaces can look like this one here: https://github.com/KamasamaK/vscode-cf

[2022-01-03 18:01] wingrunr21 commented on #760
Thanks, as this project requires basically 2 extensions to be published (and I'm looking to wire it up to semantic release), I'll need to do some modifications.

[2022-01-03 18:02] filiptronicek commented on #760
Please do ping me if there is anything I can help with!

[2022-01-03 18:03] wingrunr21 opened #786 "Support TypeProf"
Add Language Server support for Ruby's [`TypeProf`](https://github.com/ruby/typeprof)

[2022-01-03 18:15] #777 closed

[2022-01-03 18:18] wingrunr21 commented on #776
`web-tree-sitter-ruby` is in the `packages` directory.  It isn't wrong 😉

[2022-01-04 02:44] eruizc-dev commented on #779
Is there any way I can collaborate with this?
I don't have much knowledge past installing and configuring language servers, but I could try

[2022-01-04 11:18] Conor-Developer opened #787 "Environment Failing"
### Your environment

- `vscode-ruby` version: v0.28.0
- Ruby version: v0.28.1
- Ruby version manager (if any):
- VS Code version: 1.63.2
- Operating System: Unbuntu 20.04.3 LTS
- Using language server? (eg `useLanguageServer` is true in your configuration?) No

### Expected behavior

Rubocop gem (not extension!) to highlight errors in VS Code.

### Actual behavior

Rubocop gem (not extension!) is

[2022-01-05 13:43] gregawoods commented on #620
I have this issue as well. The fix proposed by @ferdaber worked for me - however, I'd like to find a solution that doesn't require everyone on my team manually editing their vs code extensions.

It seems to me in practice that whatever ruby version you have set as default (`rvm use [x.x.x] --default`) is what gets used by the language server.

Would be really nice if a fix for this could be merged

[2022-01-06 06:42] jflinter commented on #782
@wingrunr21 why did you close this issue? The extension hasn't been released in a year, is it ever going to receive additional updates? I'm happy to help with testing or QAing the latest version if it'd be helpful.

[2022-01-07 15:23] resistorsoftware opened #789 "Bundler::Dsl::DSLError"
### Your environment

- `vscode-ruby` version: 0.28.1
- Ruby version: 3.1.0
- Ruby version manager (if any): RVM
- VS Code version: 1.63.2
- Operating System: MacOS 12
- Using language server? (eg `useLanguageServer` is true in your configuration?) true

### Expected behavior

in terminal outside VSCode, no issues with GemFile

### Actual behavior

inside VSCode, the OUTPUT tab has problems with t

[2022-01-09 00:47] #763 closed

[2022-01-11 20:25] gregorw commented on #346
Use this in your settings file to enable HTML IntelliSense in ERB files.

[code]

Note that Emmet is a different thing that allows to expand `ul>li*3` into HTML etc.

[2022-01-19 08:40] Zeroxk commented on #750
Encountering same issue with these settings:
OS: Windows 10 using WSL2 Debian Bullseye
VScode 1.63.2
vscode-ruby v0.28.0
Ruby version manager (if any): rvm
Using language server? Yes

[2022-01-19 13:58] andyw8 commented on #750
I think the cause was attempting to run "Ruby: Show Output Channel - opens output channel for the Ruby extension" or "Ruby: Show Language Server Output Channel" before I had opened any Ruby files in the current VS Code session.

[2022-01-19 14:35] wingrunr21 commented on #750
VSCode won’t activate the extension until a Ruby file has been opened, so the command not working would be expected.

I will reopen to get some more info from the other comments here.

[2022-01-20 19:05] PeteHanner opened #790 "Suggestions stuck on "Insert curly braces block""
### Your environment

- `vscode-ruby` version: `0.28.1`
- Ruby version: `ruby 2.7.2p137`
- Ruby version manager (if any): `chruby: stable 0.3.9`
- VS Code version: `1.63.2`
- Operating System: `macOS Big Sur 11.6.2`
- Using language server? (eg `useLanguageServer` is true in your configuration?) `no`

### Expected behavior

Starting to type name of variable/method/etc and have it show up in the au

[2022-01-21 03:08] mike-ap-tc commented on #790
For now this can be disabled like this: https://github.com/microsoft/vscode/issues/10565#issuecomment-721832613

[2022-01-25 08:03] shir commented on #698
active

[2022-01-25 13:39] Timmitry commented on #339
For anyone having the same problem: I can confirm that simply setting different `debuggerPort` (e.g. `1235` and `1236`) for the different configurations solves the issue 🎉

[2022-01-26 02:20] technicalpickles commented on #454
I've been seeing this on more recent versions, rebornix.ruby-0.28.1 according to the stacktrace.

[code]

[2022-01-26 14:02] technicalpickles opened #792 "yarn build fails: ENOENT: no such file or directory, copyfile 'node_modules/web-tree-sitter/tree-sitter.wasm' -> 'dist/tree-sitter.wasm'"
### Your environment

- `vscode-ruby` version: main branch
- Ruby version: n/a
- Ruby version manager (if any): n/a
- VS Code version: n/a
- Operating System: macOS Monterey
- Using language server? (eg `useLanguageServer` is true in your configuration?): n/a

### Expected behavior

Based on docs/development, I expect `yarn build` to succeed

### Actual behavior

[code]

[2022-01-27 02:22] ccutrer commented on #717
Heh, GitHub actions isn't so good at math. It's been a lot more than 30 days since the last activity. Well, it's still a problem, so let's keep it open...

[2022-01-30 19:11] tgaeta commented on #578
If you find that Rubocop works, but you're still getting warnings and tooltips in VS Code, try this:
[code]

[2022-02-01 04:46] pyrareae opened #793 "Allow running with integratedTerminal"
### Your environment

- `vscode-ruby` version: v0.28.1
- Ruby version: 3.0.x
- Ruby version manager (if any): asdf
- VS Code version: 1.63.2
- Operating System: Linux (arch, yes, I know)
- Using language server? no

### Expected behavior
Adding `"console": "integratedTerminal"` to launch.json should allow the dubugged application to interact with a real terminal.

### Actual behavior
A terminal do

[2022-02-01 17:33] kyrofa commented on #780
Yeah debase doesn't work with ruby 3 at all, right? So ruby-debug-ide is entirely incompatible with ruby 3, isn't it?

[2022-02-02 13:42] #792 closed

[2022-02-02 13:42] wingrunr21 commented on #787
Did you look at the logs?

[2022-02-02 14:01] wingrunr21 commented on #780
Tracking branch is `debugger_improvements`

[2022-02-02 19:09] DanL12186 commented on #790
For now, downgrading to 0.27 appears to resolve it.

[2022-02-09 04:33] borring opened #794 "Enhancement request: allow specifying binary/path for formatters"
### Your environment

- `vscode-ruby` version: 0.28.0
- Ruby version: 3.0.0
- Ruby version manager (if any): NONE
- VS Code version: 1.63.2
- Operating System: Fedora 35 (linux)
- Using language server? (eg `useLanguageServer` is true in your configuration?) yes

### ISSUE
The `"ruby.format"` only accepts a set of strings or a boolean. Please allow specifying the binary used for formatting.

### S

[2022-02-09 05:57] estiens commented on #598
still a problem

[2022-02-09 10:38] isidorn commented on #771
@wingrunr21 I find it weird that issues just get auto closed with no response from maintainers at all.

[2022-02-09 13:33] wingrunr21 commented on #771
@isidorn the bot probably needs adjusted

as to the other: remember this isn’t my job. Are you doing this in your free time?

[2022-02-09 13:39] isidorn commented on #771
If you do not have time to tackle this - maybe put a "help-wanted" label and somebody from the community might chime in. At least that is what we do on the VS Code side.

[2022-02-10 10:44] KoderMAL commented on #620
I had the following error: Bundler::RubyVersionMismatch
@ferdaber 's solution solved it: https://github.com/rubyide/vscode-ruby/issues/620#issuecomment-632857207

[2022-02-13 00:48] #728 closed

[2022-02-14 02:10] Nowaker opened #796 "Code pauses on every raise"
### Your environment

- `vscode-ruby` version: v0.28.1
- Ruby version: 2.6.8p205
- Ruby version manager (if any): bundler 1.17.3
- VS Code version: 1.64.2
- Operating System: Linux
- Using language server? (eg `useLanguageServer` is true in your configuration?) yes

### Expected behavior

Debugger pauses on breakpoints I pick only.

### Actual behavior

Debugger pauses on any `raise`. I do not wan

[2022-02-14 02:18] Nowaker commented on #796
Sorry, this belongs to https://github.com/castwide/vscode-ruby-debug/issues.

[2022-02-14 02:18] #796 closed

[2022-02-16 11:18] saimageshvar opened #797 "Go to definition doesn't work on some cases"
### Your environment

- `vscode-ruby` version: 0.28.1
- Ruby version: 2.7
- Ruby version manager (if any):
- VS Code version: 1.64.1
- Operating System: ubuntu 18.04
- Using language server? (eg `useLanguageServer` is true in your configuration?) true

### Expected behavior
F12 a.k.a Go to definition should take to the method definition

### Actual behavior
F12 a.k.a Go to definition works for mos

[2022-02-17 03:50] hiichan commented on #792
@wingrunr21

Hi!

I got the same error yet.
How can i fix it?

operation:

[code]

[2022-02-20 18:50] scorphus commented on #578
Arguably my ugliest hack in recent times, but it works.

First, create this script anywhere on your path:

[code]

Then, use it:

[code]

I hope it's useful to someone else.

[2022-02-20 19:06] scorphus commented on #578
Sorry for the extra noise earlier.

I'm working on what is arguably my ugliest hack in recent times 😄 I'm not quite sure it works, but it seems to work for me.

First, create the following script anywhere on your PATH:

[code]

Then, use it as `command`:

[code]

I hope it works for someone else too.

[2022-02-23 00:54] #784 closed

[2022-02-23 00:54] #770 closed

[2022-02-23 20:51] dedene commented on #278
I submitted a PR (https://github.com/rubyide/vscode-ruby/pull/799) that fixed this exact issue with me locally. After applying the patch om the latest release (tag v0.28.1) my Rake tasks were properly detected and can be ran from withing VSCode using the `Run Task` command.

[2022-02-24 18:54] Nowaker commented on #620
`#!/bin/zsh -i -l` did nothing to fix it for me.

Why does Ruby language server not pick the right Ruby version in the first place?

[2022-02-24 23:20] gisborne opened #800 "Debugger Installation instructions either wrong or incomplete wrt gear icon on debug pane"
Looking at instructions [here](https://github.com/rubyide/vscode-ruby/wiki/1.-Debugger-Installation). Particularly:

I am using VSC 1.64.2 on a Monterey/M1 Mac. These instructions do not seem to apply. When I have the debug pane open, the only "gear icon" I can see is the always-visible one in the bottom left. Clicking this does not do as described.

I am here:

![image](https://user-images.github

[2022-02-26 21:10] mariliah commented on #750
Has anybody figured this out?

[2022-03-03 08:03] alexanderadam opened #801 "`Gel` support"
### Expected behaviour

The settings currently contain a checkbox for `Ruby: Use Bundler`.
But in many cases [Gel](https://github.com/gel-rb/gel#gel) is much faster than bundler.
Thus it would be helpful, if the settings would rather have a selectbox with the options

- bundler
- Gel
- none

### Actual behaviour

Only a checkbox available.

[2022-03-09 03:53] harryuan65 commented on #750
well, I forgot to turn on `useLanguageServer`
this works for me now
[code]

<img width="398" alt="image" src="https://user-images.githubusercontent.com/33657734/157369512-c007ca10-0639-4124-8746-e3d56bc3f896.png">

[2022-03-09 05:17] saimageshvar opened #803 "Go to definition doesn't pick up method definitions inside another method or block contexts"
### Your environment

- `vscode-ruby` version: 0.28.1
- Ruby version: 2.7
- Ruby version manager (if any):
- VS Code version: 1.64.1
- Operating System: ubuntu 18.04
- Using language server? (eg `useLanguageServer` is true in your configuration?) true

### Expected behavior
F12 a.k.a Go to definition should take to the method definition

### Actual behavior
F12 a.k.a Go to definition works for mos

[2022-03-09 05:17] #797 closed

[2022-03-10 16:51] mslinn opened #804 "vscode-ruby Does Not Find Source When Attaching to a Running Ruby Gem"
### Your environment

- `vscode-ruby` version: v0.28.1
- Ruby version: 3.0.0
- Ruby version manager (if any):
- VS Code version: 1.65.1
- Operating System: Ubuntu on WSL2
- Using language server? (eg `useLanguageServer` is true in your configuration?) Yes

### Problem Statement

Using Visual Studio Code and the `rebornix.Ruby` extension, `launch`ing a Ruby program for debugging works fine: when ex

[2022-03-12 12:08] wingrunr21 commented on #750
I am going to close this issue. Thanks all.

[2022-03-12 12:08] #750 closed

[2022-03-12 12:29] #717 closed

[2022-03-22 08:00] crobbo commented on #346
@gregorw this is what got it working for me. cheers

[2022-03-24 18:14] JohnSmall commented on #620
I didn't even have a `dist/server/shims/env.bin.{shell}.sh` in `~/.vscode/extensions/rebornix.ruby-0.28.1` so I created it and put

[code]
in it as suggested above. And....

It had no effect

Presumably because things have moved on since @ferdaber suggested the workaround in 2020, and the suggested workaround no longer works.

Does anyone have any suggestions how to fix this?

My low tech workarou

[2022-04-05 18:05] lalunamel commented on #657
No problem - glad we got it fixed!

[2022-04-05 18:05] #657 closed

[2022-04-06 11:51] gareth opened #811 "No release in 15+ months - need help?"
The last release to this extension was [January 8th 2021](https://github.com/rubyide/vscode-ruby/releases/tag/v0.28.1). Since then a number of useful issues have been fixed (the one I'm personally interested in is #720)

Can you quickly summarise what's blocking another release? For example, are there concerns with the merged code that you don't want to release; are there other things that you nee

[2022-04-08 00:59] #789 closed

[2022-04-08 15:06] JulienCorb commented on #714
@JosephLing [JosephLing](https://github.com/JosephLing) have you found any solution/workaround to do this?

[2022-04-08 18:51] gastonmorixe commented on #746
+1

[2022-04-13 03:15] hiichan opened #812 "Github actions is failed"
As you may know, recent Github-Actions is failed.
The cause may be due to node-version.
Therefore, I tried to up to node-version, but other problem is appeared.
This problem is seems to about windows, but I couldn't solve it.
Anyone has solution?

- problem (sample)
https://github.com/rubyide/vscode-ruby/runs/5521667430?check_suite_focus=true

[code]

- I tried this
https://github.com/hiichan/vsco

[2022-04-13 07:26] 4ybakut2004 commented on #623
@rebornix, @henrahmagix Yes, it's very inconvenient to get a list of classes instead of going directly to a class in a specific module. To avoid problems when going to the definition, i have to add suffixes to class names that duplicate the name of the module. For example:

[code]

Because of this, the length of the string increases:

[code]

Although it would be much more convenient to read the c

[2022-04-14 07:33] soumyaray commented on #578
I'm having the same issue and I've tried everything in this thread _except_ wrapping rubocop in my own script -- I just don't think that approach is suitable on collaborative projects. Is there an official way to resolve this issue yet?

[2022-04-19 00:47] gareth commented on #811
I just spotted [this commit](https://github.com/rubyide/vscode-ruby/commit/dc81c809c82003d26af9c4dc7c89fa8f8a26cbf5) ("**LOOKING FOR MAINTAINERS**") which should help anyone else who finds/is watching this issue understand the state

[2022-04-19 07:15] shrkw commented on #227
This behavior is really strange. I created experiment project: https://github.com/shrkw/vscode-ruby-dev-env-sample , and rubocop and "Exclude" settings works very well yesterday.
I opened it today, "Exclude" settings does not work at all!

<img width="264" alt="スクリーンショット 2022-04-19 16 10 04" src="https://user-images.githubusercontent.com/275147/163946813-9c20ad8d-9cf1-4b3b-b5ca-ee6645fc304a.png">

[2022-04-20 15:31] benzado commented on #578
I've just fixed my local setup using a shim script and I think I've found a clue nobody has mentioned in the earlier comments... vscode-ruby is calling my script with these arguments: `-s '/absolute/path/to/file.rb' -f json`

I thought that the absolute path was the issue, so I wrote a script similar to [this one](https://github.com/rubyide/vscode-ruby/issues/578#issuecomment-573067634) by @artm.

[2022-04-20 15:39] benzado commented on #227
Since this is an old issue with lots of comments, it's possible there are multiple bugs being represented here. However, I strongly suspect this issue is a duplicate of #578 and #719, and is fixed by PR #720. However, the fix hasn't made it into a release yet.

[2022-04-20 15:44] benzado commented on #811
I just spent a few hours debugging something that had already been fixed on `main` but not released (see [here](https://github.com/rubyide/vscode-ruby/issues/578#issuecomment-1104070993)).

@wingrunr21 - has anyone volunteered to be a maintainer yet? Have you reached out directly to any of the 86 contributors?

@rebornix - are you the owner of the rubyide org on GitHub, or just the only public mem

[2022-04-22 12:43] Birdie0 commented on #770
It seems `.arb` [being first in the list of extensions](https://github.com/rubyide/vscode-ruby/blob/main/packages/vscode-ruby/package.json#L72) is the reason why this happens. Is alphabetic order really required there, if not this can be easily fixed by moving `.rb` extension to the top.

[2022-04-23 21:40] wingrunr21 commented on #811
I have had no one email me yet, no. No, I'm not going to email the 86 contributors.

I am the owner of the rubyide org

[2022-04-23 21:42] wingrunr21 commented on #811
@benzado it isn't just cutting the release, it's providing support, debugging people's environments, etc after the release is cut. Cutting the release is straight forward.

[2022-04-23 21:53] wingrunr21 opened #815 "LOOKING FOR MAINTAINERS"
I don't have any time to maintain this extension. I'm not able to keep up with VSCode development + the Ruby community + provide support for this extension alone, in my limited free time. Thus, I'm looking for some folks to step in and assist with this extension.

If you are interested, please get in touch with me (info is available via my Github profile).

[2022-04-23 21:54] wingrunr21 commented on #811
#815

[2022-04-23 23:33] benzado commented on #811
@wingrunr21 Believe me, I know how much work is involved and how much it can take out of you. I don't blame you for wanting to step away. Not one bit.

[2022-04-23 23:38] benzado commented on #815
I'm willing to volunteer my time. I shouldn't take a lead role because I don't have much TypeScript or VSC extension knowledge. But I know enough to troubleshoot and I can review PRs. If others are stepping up, I can be a resource.

[2022-04-24 22:26] Juraci opened #816 "unable to execute bundle exec rubocop and reek, but the same commands work in terminal"
### Your environment

- `vscode-ruby` version: v0.28.0
- Ruby version: 2.7.5p203 (2021-11-24 revision f69aeb8314) [x86_64-linux]
- Ruby version manager (if any): rvm
- VS Code version: 1.66.2
- Operating System: Arch Linux
- Using language server? (eg `useLanguageServer` is true in your configuration?): yes

### Expected behavior

this should work from inside the editor
[code]

### Actual behavior

[2022-04-25 16:11] noniq commented on #816
It could be related to the shell that is used to run subprocesses. I recently stumbled upon a similar issue in https://github.com/castwide/vscode-solargraph/issues/238 , where it uses the system default shell (`zsh`) to run subprocesses, but the setup for my Ruby environment is in the init files of `bash` (because that’s the shell I use personally).

[2022-05-01 11:36] #811 closed

[2022-05-03 21:28] arminanton commented on #443
Was this solved? I'm having the same issue.

[2022-05-18 22:45] ikraamg commented on #341
Hey @michielboekhoff 👋 , by any chance, do you still have the branch where you started working on this?

[2022-05-27 17:45] asciito commented on #815
Hi, I'm new to Ruby but it would be a pleasure to help you.
Please Let me know if I can help with something.

[2022-06-10 23:53] JoshuaSP opened #822 "Incorrect syntax highlighting following `/` characters used for division (instead of regex)"
### Your environment

- `vscode-ruby` version:
- Ruby version: 3.1
- Ruby version manager (if any): none
- VS Code version: 1.67.2
- Operating System: MacOS 12.3.1
- Using language server? (eg `useLanguageServer` is true in your configuration?) yes!

### Expected behavior

Write code that has a `/` at the end of a line, such as this:
[code]
and have syntax highlighting continue to work afterwards.

[2022-06-14 11:58] mdross95 opened #823 "Syntax Errors Are Not Shown"
### Your environment

- `vscode-ruby` version: 0.28.1
- Ruby version: 2.6.3
- Ruby version manager (if any): rbenv
- VS Code version: 1.68.0
- Operating System: macos monterey
- Using language server? (eg `useLanguageServer` is true in your configuration?) yes

### Expected behavior
Writing obvious syntax errors would produce squiggly lines under the code, with the relevant error showing up in the

[2022-06-14 20:50] nruth commented on #227
this works well, but looks worrying because vscode greys it out and says the config is unknown. Where would that need updating?

[2022-06-18 15:12] Signum opened #826 "Debug console suddenly stops working"
### Your environment

- `vscode-ruby` version: v0.28.1
- Ruby version: 2.7.4
- Ruby version manager (if any): rbenv
- VS Code version: 1.68.1
- Operating System: Linux Mint
- Using language server? (eg `useLanguageServer` is true in your configuration?) yes

### Expected behavior

Be able to enter variable names in _debug console_ pane and get a result.

Example program:

[code]

![image](https://

[2022-07-03 01:16] #793 closed

[2022-07-14 03:58] ndbroadbent opened #828 "Feature request: Break on exception and break on uncaught exception"
Hello, I would just like to request support for "break on exception", so that I can automatically start the debugger in VS Code whenever there is an exception in my Rails application. Does the VS Code Ruby debugger support this?

Related:

* #582
* #796

[2022-07-14 21:59] drewlustro commented on #815
Also down to help 👋

[2022-07-14 22:07] drewlustro commented on #811
In lieu of the maintainer willing to make a release, does anyone know how to install a VSCode extension using `organization/repo#commit` syntax?

[2022-07-17 12:12] rgaufman commented on #370
Any solution to this?

[2022-07-17 19:40] qurriahSam commented on #370
I had the same error, prettier  is set as my default fomartter I think it conflicts with rubocop.

[code]

adding this in settings.json solved my issue.

[2022-07-19 09:05] obahareth commented on #518
This is still not working for me.

I even tried setting it manually:

[code]

[code]

I still get this message:

[code]

[2022-07-20 12:09] obahareth commented on #518
@wingrunr21 I am not sure if I should make a new issue or if we should reopen this one?

Am I doing something wrong with my configuration?

[2022-07-20 12:10] obahareth commented on #815
I'm available to help on an occasional basis, I have OK Typescript knowledge and I've been using Ruby for quite a few years. I do lack knowledge in VS Code Extensions though.

[2022-07-20 16:45] navels opened #829 "Building the extension on an M1 Mac"
### Your environment

- `vscode-ruby` version:
- Ruby version: 3.1.1p18
- Ruby version manager (if any): rbenv
- VS Code version:1.69.2 (Universal)
- Operating System: Mac M1
- Using language server? yes

### Expected behavior
Dev build tests pass

### Actual behavior
Dev build tests fail

I am following https://github.com/rubyide/vscode-ruby/blob/main/docs/developing.md

`yarn build` is successfu

[2022-07-25 01:15] #800 closed

[2022-07-26 01:19] #787 closed

[2022-07-27 01:21] #771 closed

[2022-08-04 07:31] obahareth commented on #518
The only thing that worked for me is to run it from the terminal, providing the full path to the shim only works when I run it from the terminal.

[2022-08-07 01:20] #803 closed

[2022-08-16 09:21] ShalokShalom opened #830 "Files: Default Language is interrupted"
### Your environment

- `vscode-ruby` version: current
- Ruby version: 3.0
- Ruby version manager (if any): no
- VS Code version: current
- Operating System: Linux
- Using language server? (eg `useLanguageServer` is true in your configuration?)

### Expected behavior

There is a setting in VSCode, that is called Files: Default Language and when you put ruby into this field, it is expected that thi

[2022-08-18 22:22] r7kamura commented on #830
This is the same issue as https://github.com/rubyide/vscode-ruby/issues/770, and will be fixed by https://github.com/rubyide/vscode-ruby/pull/814.

[2022-08-19 06:05] #830 closed

[2022-08-19 08:59] shir commented on #698
It's still active. Maybe it will be fixed in the next release because potential PR was merged.

[2022-08-19 16:32] AlexWayfer commented on #578
This issue is still an issue. Probably, this bot should be disabled due to #815.

[2022-08-22 04:24] thibaut-pro opened #832 "Add class name support to QuickOpen Symbol Search"
### Your environment

- `vscode-ruby` version: v0.28.1
- Ruby version: ruby 2.7.4p191 (2021-07-07 revision a21a3b7d23) [x86_64-darwin20]
- Ruby version manager (if any): asdf
- VS Code version: 1.69.2 (Universal)
- Operating System: MacOS (Intel Chip)
- Using language server? true

### Expected behavior

A search for a class name (e.g. `User::Searcher`) returns results that match.

### Actual beha

[2022-08-22 13:16] dan commented on #382
+1

[2022-08-25 20:53] taman9333 commented on #522
@wingrunr21 Any update

[2022-08-31 17:23] suan-appf commented on #653
I am also having this issue...

[2022-09-07 18:08] andrewmcodes commented on #382
@dan try the `Surround With Snippet...` command

[2022-09-10 01:26] #804 closed

[2022-09-13 16:48] GodAlmighty777 commented on #832
[code]

[2022-09-15 00:28] GodAlmighty777 opened #835 "give"
https://www.tinkoff.ru/cf/17lq1GNkzVB

[2022-09-17 03:43] dedsecezio opened #836 "ruby 3.x support"
I am using `ruby 3.1.2` and I have configuration the same as the [docs/debugger.md](https://github.com/rubyide/vscode-ruby/blob/main/docs/debugger.md) examples (especially the simplest `launch.json` configuration example), but the debugger isn't working. I suppose the problem occurs because the new version of ruby isn't fully supported by this extension?

[2022-09-20 23:03] rehanmunir commented on #269
rvm use (version)@global
gem install htmlbeautifier

[2022-09-23 01:42] #816 closed

[2022-09-24 15:31] ricardograca commented on #578
According to my testing it seems that any exclusion pattern that points to a specific file name won't work. For example, if we have a file named `file.rb` with a `Metrics/BlockLength` linting error and I use this rule in `.rubocop.yml`, then it won't actually be ignored:

[code]
But, if I move the file to the `lib` directory and change the exclusion pattern like so, the linting errors will be igno

[2022-09-26 11:15] y-amadatsu commented on #578
I made the same modification as @ricardograca and the .rubocop.yml setting is reflected.
Thank you @ricardograca !

[2022-09-26 14:04] ledsun commented on #836
I think what you want is https://github.com/ruby/vscode-rdbg .

[2022-09-27 17:54] ricardograca commented on #578
That was supposed to be only a test, but indeed it does the trick until we get a more permanent solution.

[2022-09-28 02:06] bradkrane commented on #339
netstat -ano  | findstr 1234
taskkill /f /pid <last number is PID>
or also
taskkill /f /im ruby.exe

Fix it for me, apparently the debugger server was glitched

[2022-09-28 13:04] gregawoods commented on #578
Worked for me too, I finally see rubocop ignoring `Metrics/BlockLength` in my rspec files. 🥳

[2022-10-03 17:46] josealvarez97 commented on #214
— worked like a charm. Found this Stack overflow question helpful as well https://stackoverflow.com/a/56810833/8062488

[2022-10-14 00:34] droarty commented on #625
same, a year later.

[2022-10-16 13:28] m-o-e commented on #578
The solution by @ricardograca worked for me as well. Thank you!

You can use this oneliner to apply his fix (VSCode must be restarted afterwards):

[code]

It will save a backup of the original file to `index.js.bak`.

[2022-10-31 22:29] kristof-mattei commented on #443
So this is funny, I just hit this issue. And I switched to .asdf yesterday...

[2022-11-09 01:15] #822 closed

[2022-11-10 12:57] amicojeko commented on #625
It didn't for me :(

[2022-11-10 14:53] matthewford opened #837 "Pass args to the formatter"
Hello, I'm trying to figure out how to run rubyfmt with the opt-out flag (--header-opt-out ), however I can't seem to see in the docs how to pass an argument to the command

[2022-11-13 01:14] #823 closed

[2022-11-15 14:14] gregawoods commented on #578
I've been using the solution here for a while and it's been good so far. I noticed this morning however that it isn't working with `AllCops` rules. For example, I'm now seeing `BlockLength` errors in routes.rb despite it being excluded.

This does not work:

[code]

But this works:

[code]

I wonder, when could we get at least the partial fix officially released?

[2022-11-17 01:11] #826 closed

[2022-11-22 16:36] mcelicalderon commented on #578
Thank you, @ricardograca and @m-o-e! I can confirm https://github.com/rubyide/vscode-ruby/issues/578#issuecomment-1279970275 worked for me 🙌 at least for some cops. Not sure if I will run into something else as described in https://github.com/rubyide/vscode-ruby/issues/578#issuecomment-1315368920

[2022-11-30 03:44] gbisheimer commented on #214
I've just installed rbenv and found that I have no $GEM_PATH nor $GEM_HOME env vars. So, had to use this workaround:

`printf "\n\"env\": {\n  \"PATH\": \"$PATH\",\n  \"GEM_HOME\": \"$(gem env home)\",\n  \"GEM_PATH\": \"$(gem env path)\",\n  \"RUBY_VERSION\": \"$(ruby -v)\"\n}\n\n"`